/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-form {
  width: 370px;
  height: 40px;
  display: flex;
  margin: 16px auto;
  gap: 8px;
  padding: 16px;
}

.search-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;
}

.search-input::-moz-placeholder {
  color: #808080;
}

.search-input:hover {
  border: 1px solid #000;
}

.search-input:focus {
  border: 1px solid #4e75ff;
}

.search-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 90px;
  height: 40px;
  border: none;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.search-btn:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #FFF;
  list-style: none;
}

.gallery-item {
  display: block;
  border: 1px solid black;
}


.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 220px;
  flex-shrink: 0;
  transition: transform 250ms linear;
}

.gallery-image:hover {
  transform: scale(1.1);
}

.gallery-body {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 16px;
}

.info-box {
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotatez {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.hidden {
  display: none;
  opacity: 0;
}

.load-more {
  display: block;
  width: 200px;
  /* Устанавливаем ширину кнопки */
  height: 40px;
  /* Устанавливаем высоту кнопки */
  margin: 20px auto;
  /* Выравниваем кнопку по центру по горизонтали и добавляем отступ сверху */
  background-color: #007bff;
  /* Цвет фона кнопки */
  color: #fff;
  /* Цвет текста на кнопке */
  border: none;
  /* Убираем границу */
  border-radius: 5px;
  /* Закругляем углы кнопки */
  cursor: pointer;
  /* Устанавливаем курсор в виде указателя */
  transition: background-color 0.3s ease;
  /* Добавляем плавный переход при изменении цвета фона */
}