/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.loader.hide {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #3c75b1;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  animation: pulse 1s linear infinite;
}

.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #260cb9;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pulse {

  0%,
  60%,
  100% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.2);
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  background: #fff;
  margin-right: 8px;
}

.button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: transparent;
  color: #fff;
  width: 91px;
  height: 40px;
}

.wrapper-pictures {
  display: flex;
}

.pictures-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-card {
  transition: transform 0.3s;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
}

.image-item-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gallery-card img {
  object-fit: cover;
  height: 300px;
  width: 400px;
}

.image-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 0;
}

.button-load {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: transparent;
  color: #fff;
  width: 91px;
  height: 40px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0;
  overflow: hidden;
}